# Dependências
node_modules/
__pycache__/
*.pyc

# Banco de dados local
*.db
*.sqlite
*.sqlite3

# Variáveis de ambiente
.env
.env.local

# Build do React
dist/
build/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db